/* 추가한 CSS 스타일 */
header h1 {
    display: flex;
    align-items: center;
}

header h1 small {
    font-size: 60%;
    margin-left: 5px;
    color: #999;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.keyword {
    font-size: 50rem;
    font-weight: bold;
}

/* 아이콘과 텍스트 사이 간격 조정 */
.sidebar ul li i {
    margin-right: 5px;
    font-size: 1.5rem; /* 아이콘 사이즈 조정 */
}
