    header h1 small {
        font-size: 60%;
        margin-left: 5px;
        color: #999;
    }

    .section {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .keyword {
        font-size: 5rem;
        font-weight: bold;
    }

    .sidebar ul li img {
        width: 30px; /* 이미지 아이콘의 너비 조정 */
        height: 30px; /* 높이 자동 조정 */
        margin-right: 5px;
    }

    .section img{
        width: 200px;
        height: auto;
    }
</style>
